<div class="container">
  <span>News</span>

  <div class="news">

      <div class="card">
        <div class="notice">

          <img src="assets/img/notice3.png" alt="">
          <div class="text">Shangri-La Frontier anime makes special collaboration with ReoNa in special video of its 2nd ending</div>

        </div>
        <hr>
      </div>
      <div class="card">
        <div class="notice">

          <img src="assets/img/notice3.png" alt="">
          <div class="text">Shangri-La Frontier anime makes special collaboration with ReoNa in special video of its 2nd ending</div>

        </div>
        <hr>
      </div>
      <div class="card">
        <div class="notice">

          <img src="assets/img/notice3.png" alt="">
          <div class="text">Shangri-La Frontier anime makes special collaboration with ReoNa in special video of its 2nd ending</div>

        </div>
        <hr>
      </div>
  </div>

</div>
