.container{
  background-image: url("/assets/img/image5.png")  ;
  background-repeat: no-repeat no-repeat;
  background-size: 100%;
}



.header{


  height: 180px;
  background: transparent -o-repeating-linear-gradient();
  background-color: rgba(0, 0, 0, 0.6 );

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 360px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  -webkit-text-stroke: 0.5px white;

  .logo{
    padding-left: 32px;
    background: transparent;
    img{
      background: transparent;
    }
  }

  .button__find{
    height: 65px;
    width: 330px;
    background: transparent;
    margin-left: 100px;
    border: 3px solid #0043FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .button__login{
   background: transparent;
    height: 65px;
    width: 220px;
    border: 3px solid #ffff;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }


}

.middle{

 background: transparent;
 height: 80vh;
 margin-left: 35px;
 width: 900px;

 .middle__text{

  width: 870px;
  margin-top: 15px;
  margin-left: 25px;
  background-color: transparent;
  font-size: 70px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: left;

 }

 .middle__little-text{
  background-color: transparent;
  font-family: "Inter", sans-serif;
  margin-left: 25px;
  text-align: left;
  align-content: center;
  width: 800px;
  height: 365px;
  font-weight: bold;
  font-size: 45px;
 }

 .middle__button{
  background-color: transparent;
  font-family: "Inter", sans-serif;
  background-color: #0043FF;
  height: 95px;
  width: 405px;
  font-size: 35px;
  -webkit-text-stroke: 1px white;
  text-align: center;
  display: flex;
  margin-left: 185px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border:  red 2px;

 }
}
