<div class="container">
  <div class="header">

    <div class="logo"><img src="assets/icons/Logo.png" alt=""></div>
    <div class="button__find">Find</div>
    <div class="button__login">Login</div>

  </div>

  <div class="middle">
    <div class="middle__text">
      Find your anime here
    </div>
    <div class="middle__little-text">
      consectetur adipiscing elit. Integer congue elementum lectus, at iaculis nisl hendrerit sit amet. Sed fringilla ac dui porttitor eleifend.
    </div>
    <div class="middle__button">
      Get started
    </div>
  </div>

</div>
