<div class="container">
  <div class="category__carousel">Best animes</div>

  <div class="carousel">
    <swiper-container slides-per-view="5"
    space-between="40" centered-slides="true"loop="true"
    >
      <swiper-slide><img src="assets/img/carouselImg10.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/img/carouselImg9.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/img/carouselImg8.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/img/carouselImg7.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/img/carouselImg6.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/img/carouselImg5.png" alt=""></swiper-slide>
    </swiper-container>
  </div>





</div>
