
<section class="container">
  <app-navbar></app-navbar>

  <div class="info-poster">
    <app-side-menu ></app-side-menu>

    <div class="info">
      <div class="info-texts">
        <p class="info-texts-title">Black Clover</p>
        <p class="info-texts-body">
          Asta and Yuno were abandoned at the same church on the same day. Raised together as children, they came to know of the "Wizard King"—a title given to the strongest mage in the kingdom—and
        </p>

        <div class="info-buttons">
          <div class="info-button-more">learn more</div>
          <div class="info-button-watch">To Watch</div>
        </div>
      </div>
      </div>




  </div>
</section>
