

<section >
  <div class="container">
    <div>
      <img src="assets/icons/Logo.png" alt="">
    </div>

    <div>
      <span>SOCIAL NETWORKS</span>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>

    <div>
      <span>CONTACT</span>

    </div>

    <div class="pages">
      <span>
        HOME
      </span>

      <span>
        ANIMES
      </span>

      <span>
        MANGAS
      </span>

      <span>
        ABOUT
      </span>

    </div>
  </div>

  <hr style="color: #5C76BD;">
  <div class="credits">
    <span>2023 AnimesFound | All rights reserved | developed by ObaDevs </span>
  </div>
</section>
