@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

section{
  font-family: "Inter", sans-serif;
  margin-top: 60px;
  height: 250px;
}

.container{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding-top: 40px;

  justify-content: space-between;
}

.networks{
  padding-left: 117px;
  padding-right: 310px;
}


.contacts{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 207px;

}

.pages{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 357px;
}


.credits{
  display: flex;
  flex-direction: column;
  align-items: center;
}
