

<section >
  <div class="container">
    <div>
      <img src="assets/icons/Logo.png" alt="">
    </div>

    <div class="networks">

      <div> <span>SOCIAL NETWORKS</span></div>
      <div>
        <img src="assets/icons/facebook.svg" alt="">
        <img src="assets/icons/instagram.svg" alt="">
        <img src="assets/icons/linkedin.svg" alt="">
        <img src="assets/icons/twitter.svg" alt=""></div>
    </div>

    <div class="contacts">
      <span>CONTACT</span>
      <span>9999-9999</span>
      <span>lorem.ipsum</span>
      <span>Rua legaln°3232| Lagoinha-SP
      </span>
    </div>

    <div class="pages">
      <span>
        HOME
      </span>

      <span>
        ANIMES
      </span>

      <span>
        MANGAS
      </span>

      <span>
        ABOUT
      </span>

    </div>
  </div>

  <hr style="color: #5C76BD;">
  <div class="credits">
    <span>2023 AnimesFound | All rights reserved | developed by ObaDevs </span>
  </div>
</section>
